.perfil-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.perfil-box .form-label {
    font-weight: bold;
}

.perfil-box input[type="text"] {
    background-color: #f0f0f0;
    color: #555;
}
